* {
    /* universal reset to counteract Chrome's gobblegook */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    overflow: hidden;
}

:root {
    --cc-darker: rgb(14, 13, 23);
    --cc-lighter: rgb(44, 43, 53);
}

.hidden {
    display: none;
}

ul{
    list-style-type: none;
}

li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    text-align: center;
    color: white;
    margin: 2px;
    padding: 2px;
}

body {
    margin: 0;
    padding: 0;
    /*background-image: linear-gradient(to right, var(--cc-lighter), var(--cc-darker));*/
    background-image: url('./images/space.jpg');
    background-size: fill;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 4px;
    padding: 4px;
    color: white;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 26px;
    text-align: center;
    margin: 4px;
    padding: 4px;
    color: white;
    
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 4px;
    padding: 4px;
    color: white;
}

a {
    color: cyan;
}

label {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

input {
    background-color: white;
    margin: 5px;
    padding: 4px;
    border: 1px solid lightblue;
    border-radius: 4px;
}

img {
    width: 20%;
    height: 20%;
}

.imgCenter {
    text-align: center;
    background-color: none;
}

.subbtn {
    background-image: linear-gradient(to bottom, white, darkgrey);
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subbtn:hover {
    background-image: linear-gradient(to bottom, cyan, white);
    
}

.subbtn:focus {
    background-image: linear-gradient(to bottom, cyan, white);
    
}

.content {
    margin: 2px;
    padding: 2px;
    background-color: none;
    margin-right: 12px;
    align-self: center; 
}

.navbtn {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    padding: 3px;
    margin-right: 12px;
    background-image: linear-gradient(to bottom, darkgrey, var(--cc-lighter));
    border: 1px solid black;
    float: left;
    color: white;
}

.navbtn:hover {
    background-image: linear-gradient(to bottom, var(--cc-lighter), cyan);
}

.navbtn:focus{
    background-image: linear-gradient(to bottom, var(--cc-lighter), cyan);
}

.buttonRow {
    background: none;
    margin: 4px;
    padding: 2px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99.5%;
}

.topnav {
    margin: 0px;
    padding: 6px;
    width: 100%;
    background-image: linear-gradient(to bottom right, var(--cc-darker), var(--cc-lighter));
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.row {
    /* background-color: var(--cc-darker); */
    background-image: linear-gradient(to bottom right, var(--cc-darker), var(--cc-lighter));
    margin: 4px;
    padding: 2px;
    border: 2px solid cyan;
    display: inline-block;
    width: 99.5%;
}

.leftCol {
    /* background-color: var(--cc-darker); */
    margin: 2px;
    padding: 2px;
    border: none;
    float: left;
    width: 48%;
    text-align: center;
}

.rightCol {
    /* background-color: var(--cc-darker); */
    margin: 2px;
    padding: 2px;
    border: none;
    float: right;
    width: 48%;
    justify-content: center;
    text-align: center;
}

.centerVertical {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: relative;
    margin-top: 20px;
}

.brainstormImg{
    width: 40%;
}